In [1]:
import pandas as pd 
import numpy as np
import seaborn as sns

In [12]:
skin_train= pd.read_csv('Skin_nonSkin_train.csv')
skin_test=pd.read_csv('Skin_NonSkin_test.csv')

In [4]:
skin_train.head()

     R    G    B  Skin_NonSkin
0   15   14    0             1
1  201  200  162             1
2  127   95   82             1
3   79   88  126             0
4   64   61   33             1

In [5]:
skin_train.isna().sum()

R               0
G               0
B               0
Skin_NonSkin    0
dtype: int64

In [6]:
X= skin_train.drop(['Skin_NonSkin'],axis=1)
y=skin_train['Skin_NonSkin']

In [7]:
from sklearn.linear_model import LogisticRegression

In [8]:
log=LogisticRegression()

In [9]:
log.fit(X,y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [11]:
log.coef_

array([[ 0.02822264, -0.01120855, -0.03391642]])

In [14]:
skin_test.head()

     R    G    B
0  185  180  135
1   92   96  149
2  170  167  122
3   16   16   10
4  136  139   90

In [16]:
predict=log.predict(skin_test)

In [17]:
predict

array([1, 1, 1, ..., 1, 1, 1], dtype=int64)

In [19]:
predict.shape

(80840,)

In [21]:
predict_df=pd.DataFrame(predict)

In [22]:
predict_df

       0
0      1
1      1
2      1
3      1
4      1
...   ..
80835  1
80836  0
80837  1
80838  1
80839  1

[80840 rows x 1 columns]

In [23]:
skin_test['Predict']=predict_df

In [27]:
skin_test.head()

     R    G    B  Predict
0  185  180  135        1
1   92   96  149        1
2  170  167  122        1
3   16   16   10        1
4  136  139   90        1

In [34]:
skin_test.loc[skin_test['Predict']==1]

         R    G    B  Predict
0      185  180  135        1
1       92   96  149        1
2      170  167  122        1
3       16   16   10        1
4      136  139   90        1
...    ...  ...  ...      ...
80834  185  182  137        1
80835  201  200  162        1
80837  157  161  126        1
80838  180  178  130        1
80839  167  163  114        1

[63353 rows x 4 columns]

In [35]:
skin_test.loc[skin_test['Predict']==0]

         R    G    B  Predict
6      134  170  224        0
8       61   26  237        0
16      84   38  255        0
20      47  103  150        0
23     131  167  231        0
...    ...  ...  ...      ...
80813  112   87  255        0
80820  163  181  240        0
80826  169  185  238        0
80831  195  208  255        0
80836  134  135  245        0

[17487 rows x 4 columns]

In [25]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report,roc_auc_score

In [ ]:
print('Training Test Metrics')
print('**********************')
print('accuracy_score:',accuracy_score(y_test,predict))
print('confusion_matrix:\n',confusion_matrix(y_test,predict))
print('classification_report:\n',classification_report(y_test,predict))
print('roc_auc_score:',roc_auc_score(y_test,predict))

In [41]:
skin_test.to_csv('prediction.csv',header=False,index=False)

In [44]:
skin_test.shape

(80840, 4)

In [43]:
skin_test.to_csv

<bound method NDFrame.to_csv of          R    G    B  Predict
0      185  180  135        1
1       92   96  149        1
2      170  167  122        1
3       16   16   10        1
4      136  139   90        1
...    ...  ...  ...      ...
80835  201  200  162        1
80836  134  135  245        0
80837  157  161  126        1
80838  180  178  130        1
80839  167  163  114        1

[80840 rows x 4 columns]>

In [45]:
skin_test.applymap(np.real)

         R    G    B  Predict
0      185  180  135        1
1       92   96  149        1
2      170  167  122        1
3       16   16   10        1
4      136  139   90        1
...    ...  ...  ...      ...
80835  201  200  162        1
80836  134  135  245        0
80837  157  161  126        1
80838  180  178  130        1
80839  167  163  114        1

[80840 rows x 4 columns]